name: workflow_env
on:
    workflow_dispatch

jobs:
    build-in-env:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: check default env
              run: env # 執行 Linux 的 `env` 指令來顯示所有目前的環境變數